[[source]]
url = "https://pypi.org/simple"
extra-index-url = "https://pypi.python.org/pypi"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "2.2.0"
Flask = "2.3.2"
gunicorn = "22.0.0"

[dev-packages]

[requires]
python_version = "3.12"
